<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/header :: head (title='DigiWill - Login')">
    <title>DigiWill - Login</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div th:fragment= "login" id="content">
    <div class="panel">
        <div th:if="${param.error}" id="loginError">
            Invalid username and password.
        </div>
        <div  class = "form" >
            <form th:action="@{/}" method="post">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input id="usernameInput" type="text" name="username"/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input id="passwordInput" type="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td><button type="button" onclick="closeLogin(true)" class="cancelbtn button">Cancel</button></td>
                        <td><input id="loginButton" type="submit" value="Sign In" class="button"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>