table.listing {
    border: 1px solid;
    margin: 10px;
    padding: 0px;
    border-collapse: collapse;
}
.listing td,.listing th {
    text-align: left;
    border: 1px solid #ddd;
    margin: 0;
    padding: 8px;
}
.listing th {
    background-color: #0077ff;
    color: white;
}
.listing tr {
    background-color: white;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.listing tr:hover {
    background-color: #ddd !important;
}
.listing tr:nth-child(even) {
    background-color: #f2f2f2;
}